fastapi
uvicorn[standard]
aniworld
yt-dlp
pydantic
sqlmodel
SQLAlchemy
alembic
tqdm
ruff
loguru
python-multipart
anyio
beautifulsoup4
bs4
certifi
charset_normalizer
click
defusedxml
editorconfig
fake_useragent
h11
httptools
idna
jsbeautifier
mypy_extensions
npyscreen
packaging
pathspec
platformdirs
pydantic_core
python-dotenv
requests
six
sniffio
soupsieve
starlette
typing_extensions
typing_inspection
urllib3
# uvloop # only works on linux or macos, does not support windows
watchfiles
websockets
PyYAML
pytest
pytest-cov
httpx
pyinstaller
bump2version
