fastapi
uvicorn[standard]
aniworld
yt-dlp
pydantic
sqlmodel
SQLAlchemy
tqdm
black
loguru
python-multipart
anyio
beautifulsoup4
bs4
certifi
charset_normalizer
click
editorconfig
fake_useragent
h11
httptools
idna
jsbeautifier
mypy_extensions
npyscreen
packaging
pathspec
platformdirs
pydantic_core
python-dotenv
requests
six
sniffio
soupsieve
starlette
typing_extensions
typing_inspection
urllib3
uvloop
watchfiles
websockets
PyYAML
