fastapi
uvicorn[standard]
aniworld
yt-dlp
sqlmodel
SQLAlchemy
alembic
loguru
tqdm
python-multipart
python-dotenv
requests
PySocks
packaging
beautifulsoup4
defusedxml
fake_useragent
uvloop
websockets
PyYAML
