# This docker-compose file is intended for development and testing purposes with a vpn attached to anibridge only.
# It sets up the AniBridge application along with Sonarr, Radarr, Prowlarr, and Jellyfin services.
# Adjust environment variables and volume mounts as needed for your development setup.

name: anibridge-dev-vpn
services:
  anibridge:
    build: ..
    container_name: anibridge-dev-vpn
    env_file:
    # You will need to set port to something other than 8000 in the .env file since this is already uses in this stack
      - ../.env
    volumes:
      - ../data:/app/data
      - ../data/downloads:/downloads
    network_mode: 'service:vpn'
    depends_on:
      - vpn
    healthcheck:
      test:
        ["CMD", "curl", "--fail", "--silent", "http://localhost:8000/health"]
      interval: 30s
      timeout: 5s
      retries: 3
  vpn:
    container_name: vpn-dev
    image: 'qmcgaw/gluetun:latest'
    cap_add:
      - NET_ADMIN
    sysctls:
      net.ipv6.conf.all.disable_ipv6: '1'
      net.ipv6.conf.default.disable_ipv6: '1'
    env_file:
      - ../.env.vpn
    devices:
      - '/dev/net/tun:/dev/net/tun'
    ports:
      - '8001:8001'
    restart: unless-stopped
    healthcheck:
      test:
        - CMD-SHELL
        - 'wget -qO- https://1.1.1.1 || exit 1'
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr-dev-vpn
    ports:
      - "8989:8989"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - ../data/sonarr/config:/config
      - ../data/downloads:/downloads
      - ../data/sonarr/tv:/tv
    restart: unless-stopped
    depends_on:
      - anibridge
      - prowlarr

  prowlarr:
    image: linuxserver/prowlarr:latest
    container_name: prowlarr-dev-vpn
    ports:
      - "9696:9696"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - ../data/prowlarr/config:/config
    restart: unless-stopped
    depends_on:
      - anibridge

  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr-dev-vpn
    ports:
      - "7878:7878"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - ../data/radarr/config:/config
      - ../data/downloads:/downloads
      - ../data/radarr/movies:/movies
    restart: unless-stopped
    depends_on:
      - anibridge
      - prowlarr

  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin-dev-vpn
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - ../data/jellyfin/config:/config
      - ../data/jellyfin/cache:/cache
      - type: bind
        source: ../data/sonarr/tv
        target: /tv
      - type: bind
        source: ../data/radarr/movies
        target: /movies
    restart: "unless-stopped"
    # Optional - alternative address used for autodiscovery
    environment:
      - JELLYFIN_PublishedServerUrl=http://example.com
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  default:
    name: anibridge-dev-net
