name: tests

on:
  push:
    paths:
      - 'app/**'
      - 'tests/**'
      - 'pyproject.toml'
      - 'uv.lock'
  pull_request:
    paths:
      - 'app/**'
      - 'tests/**'
      - 'pyproject.toml'
      - 'uv.lock'

permissions:
  contents: read

concurrency:
  group: tests-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
            python-version: '3.11'
      - uses: astral-sh/setup-uv@v6
      - name: Install dependencies
        run: uv sync --frozen
      - name: Run tests
        run: uv run pytest
      - name: Upload coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage-report
          path: ./.coverage
          if-no-files-found: ignore
