name: tests

on:
  push:
    paths:
      - 'app/**'
      - 'tests/**'
  pull_request:
    paths:
      - 'app/**'
      - 'tests/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
            python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt
      - name: Run tests
        run: pytest
      - name: Upload coverage
        uses: actions/upload-artifact@v6
        with:
          name: coverage-report
          path: ./.coverage
          if-no-files-found: ignore
